QLineEdit { border-right: 1px solid #777777;border-bottom: 1px solid #777777; }
QLineEdit[hasLeftBorder="true"] { border-left: 1px solid #777777; }
QLineEdit[hasRightBorder="true"] { border-top: 1px solid #777777; }
